<div class="flex flex-col bg-base-500 overflow-hidden">
  <div class="absolute w-full px-16 py-10 flex flex-row">
    <div class="flex-grow">
      <img class="w-48" src="../../../../assets/png/banner_4600x1500_with_transparency.png" alt="banner">
    </div>
    <div id="contact" class="flex flex-row my-auto">
      <a href="mailto:psynder@gmail.com" target="_blank">
        <img class="w-8 mr-6 cursor-pointer" src="../../../../assets/svg/iconmonstr-email-10.svg" alt="mail">
      </a>
      <a href="https://twitter.com/Psynderfr" target="_blank">
        <img class="w-8 mr-6 cursor-pointer" src="../../../../assets/svg/iconmonstr-twitter-4.svg" alt="twitter">
      </a>
      <a href="https://www.facebook.com/Psynder-106535524211598" target="_blank">
        <img class="w-8 mr-6 cursor-pointer" src="../../../../assets/svg/iconmonstr-facebook-4.svg" alt="facebook">
      </a>
      <a href="https://www.linkedin.com/company/psynder/" target="_blank">
        <img class="w-8 mr-10 cursor-pointer" src="../../../../assets/svg/iconmonstr-linkedin-4.svg" alt="linkedin">
      </a>
    </div>
    <div class="py-3 flex flex-row">
      <button
        class="flex flex-row bg-gray-800 mr-4 px-4 cursor-pointer py-2 flex rounded-md hover:bg-gray-600 transition duration-300 ease-in-out"
        routerLink="/download"
      >
        <img class="w-5 mr-4" src="../../../../assets/svg/android_white_24dp.svg" alt="twitter">
        <span class="my-auto text-white font-medium">
            Télécharger l'application mobile
        </span>
      </button>
      <button
        class="bg-blue-600 px-4 py-2 flex rounded-md hover:bg-blue-500 transition duration-300 ease-in-out"
        routerLink="/login-signup" target="_blank"
      > 
        <img class="w-5 mr-4" src="../../../../assets/svg/computer_white_24dp.svg" alt="twitter">
        <span class="my-auto text-white font-medium">
          Connexion / Inscription
        </span>
      </button>
    </div>
  </div>
  <div class="h-screen flex flex-col">
    <div class="my-auto flex flex-row px-96">
      <div class="w-1/2 py-16 pr-8">
        <h1 class="text-title text-5xl text-justify">
          Trouvez le thérapeute qui vous correspond
        </h1>
        <p class="text-xl text-justify mt-8">
          Psynder est une solution visant à rapprocher des personnes souffrant de troubles psychologiques, et en particulier de dépression, avec des thérapeutes qualifiés.<br><br>
          À l'aide d’un questionnaire scientifiquement reconnu, l’application permet de redonner confiance à des personnes souvent repliées sur elles-mêmes et qui évitent de sortir de leur zone de confort.
        </p>
      </div>
      
      <div class="w-1/2 relative">
        <img class="illustration absolute w-full h-full z-10" src="../../../../assets/svg/loving.svg" alt="main illustration">
        <svg class="blob first-blob" viewBox="0 0 200 200">
          <path id="first_path" d="" fill="#E3D8F1"></path>
        </svg>
        <svg class="blob second-blob" viewBox="0 0 200 200">
          <path id="second_path" d="" fill="#F0F3BD"></path>
        </svg>
        <svg class="blob third-blob" viewBox="0 0 200 200">
          <path id="third_path" d="" fill="#DBEAFE"></path>
        </svg>
      </div>
    </div>
  </div>

  <div id="about" class="py-12 flex flex-col w-full px-96">
    <div class="glass-card bg-white w-1/2 blue-shadow"
        data-aos="fade" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
    >
      <div class="relative z-2 p-12">
        <h2 class="text-title text-4xl">Pour les personnes en recherche d'aide</h2>
        <p class="mt-6 text-justify">
          Notre outil consiste en une plateforme pour psycho-thérapeutes et personnes souhaitant obtenir de l’aide.
          <br><br>
          Cette plateforme est accompagnée d’un algorithme qui va permettre de découvrir des potentiels troubles chez une personne souffrante.
          <br><br>
          Par la suite, cette personne se verra proposer différents thérapeutes proches, aptes à traiter ces troubles.
        </p>
      </div>
    </div>
    <div class="glass-card bg-white w-1/2 mt-28 purple-shadow self-end"
      data-aos="fade" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
    >
      <div class="relative z-2 p-12">
        <h2 class="text-title text-4xl">Pour les thérapeutes</h2>
        <p class="mt-6 text-justify">
          Pour ces thérapeutes, nous proposons des outils de secrétariat, et d'autres pour qu'ils puissent promouvoir leur profil aux utilisateurs appropriés.
          <br><br>
          Cette plateforme prend deux formes: un site internet et une application mobile.
        </p>
      </div>
    </div>
    <div class="glass-card bg-white w-1/2 mt-28 yellow-shadow"
      data-aos="fade" data-aos-delay="50" data-aos-duration="1000" data-aos-easing="ease-in-out"
    >
      <div class="relative z-2 p-12">
        <h2 class="text-title text-4xl">Business model</h2>
        <p class="mt-6 text-justify">
          Notre business model se base sur un abonnement mensuel pour les thérapeutes.
        <br><br>
          Les personnes en recherche d'aide n’ayant pas à payer pour avoir accès à notre solution.
        </p>
      </div>
    </div>
  </div>

  <div id="call_to_action" class="py-32 mb-20 mx-auto flex flex-row">
    <button
      class="flex flex-row bg-gray-800 mr-12 px-10 py-6 cursor-pointer flex rounded-md hover:bg-gray-600 transition duration-300 ease-in-out"
      routerLink="/download"
    >
      <img class="w-10 mr-6" src="../../../../assets/svg/android_white_24dp.svg" alt="twitter">
      <span class="my-auto text-white text-3xl font-medium">
          Télécharger l'application mobile
      </span>
    </button>
    <button
      class="bg-blue-600 px-10 py-6 flex rounded-md hover:bg-blue-500 transition duration-300 ease-in-out"
      routerLink="/login-signup" target="_blank"
    > 
      <img class="w-10 mr-6" src="../../../../assets/svg/computer_white_24dp.svg" alt="twitter">
      <span class="my-auto text-white text-3xl font-medium">
          Connexion / Inscription
      </span>
    </button>
  </div>
</div>
<div class="px-96 py-16 bg-gray-800 w-full">
  <div class="px-10 flex flex-row">
    <div class="flex flex-col w-1/3">
      <img  class="w-48" src="../../../../assets/png/banner_4600x1500_with_transparency_white_font.png" alt="banner_white">
      <p class="ml-4 text-white text-xs font-light">EPITECH Innovative Project</p>
    </div>
    <div class="flex flex-col w-1/3">
      <a class="flex-grow text-white text-md cursor-pointer hover:underline" routerLink="/about">
        À propos
      </a>
      <a class="flex-grow text-white text-md cursor-pointer hover:underline" routerLink="/faq">
        Foire aux questions
      </a>
      <a class="flex-grow text-white text-md cursor-pointer hover:underline" routerLink="/feedback">
        Nous faire un retour / Contacter le support
      </a>
    </div>
    <div id="contact_footer" class="w-1/3 flex flex-row my-auto">
      <div class="flex-grow"></div>
      <a href="mailto:psynder@gmail.com" target="_blank">
        <img class="w-8 mr-8 cursor-pointer" src="../../../../assets/svg/iconmonstr-email-10_white.svg" alt="mail">
      </a>
      <a href="https://twitter.com/Psynderfr" target="_blank">
        <img class="w-8 mr-8 cursor-pointer" src="../../../../assets/svg/iconmonstr-twitter-4_white.svg" alt="twitter">
      </a>
      <a href="https://www.facebook.com/Psynder-106535524211598" target="_blank">
        <img class="w-8 mr-8 cursor-pointer" src="../../../../assets/svg/iconmonstr-facebook-4_white.svg" alt="facebook">
      </a>
      <a href="https://www.linkedin.com/company/psynder/" target="_blank">
        <img class="w-8 cursor-pointer" src="../../../../assets/svg/iconmonstr-linkedin-4_white.svg" alt="linkedin">
      </a>
    </div>
  </div>
</div>