<div>
  <div class="flex flex-row w-full h-8 mt-4 justify-between">
    <p class="text-left my-auto ml-1 text-gray-600 text-sm">Trier par:</p>
    <button class="w-58"
      (click)="dropdownShown = !dropdownShown"
      class="flex flex-row px-2 ml-6 rounded-md bg-white h-full w-64 border border-gray-300">
      <a class="text-sm my-auto text-gray-500">{{ currentSortingMethod }}</a>
      <img class="ml-auto r-0 w-6 h-6 mr-1 my-auto" src="/assets/svg/keyboard_arrow_down-24px.svg">
    </button>
  </div>
  
  <div *ngIf="dropdownShown"
    class="absolute z-50 mt-2 px-2 bg-white rounded-md w-64 ml-24 divide-y divide-gray-400 shadow-md border border-gray-300">
    <div class="block py-2 cursor-pointer hover:bg-primary-100 rounded-md"
      (click)="sortByScore()"
    >
      <div class="text-sm my-auto text-gray-600"
      >
        <a [class.text-black]="currentSortingMethod === 'Pertinence'"
        >Pertinence</a>
      </div>
    </div>
    <div class="block py-2 cursor-pointer hover:bg-primary-100"
      (click)="sortByDistance()"
    >
      <div class="text-sm text-gray-600">
        <a [class.text-black]="currentSortingMethod === 'Distance'"
        >Distance</a>
      </div>
    </div>
    <!--
    <div class="block py-2 cursor-pointer hover:bg-primary-100 rounded-md rounded-t-none"
      (click)="sortByPrice()"
    >
      <div class="text-sm text-gray-600">
        <a [class.text-black]="currentSortingMethod === 'Tarif moyen'"
        >Tarif moyen</a>
      <div>
    </div> -->
  </div>
</div>