<div class="grid grid-rows-3 place-items-center mx-64">
  <div class="border-gray-700 self-end mt-40">
    <p class="text-center text-2xl text-gray-800">Bonjour, bienvenue sur Psynder, nous vous proposons de répondre à un questionnaire afin de mieux pouvoir vous aider dans votre recherche de thérapeute, si vous souhaitez directement accéder à nos services, cliquez sur le bouton 'Accéder à la carte' sinon cliquer sur 'Commencer'</p>
  </div>
  <div class="grid grid-cols-2 mt-16 self-start">
    <div class="justify-self-end mx-6">
      <button (click)="startMini()" class="rounded border-2 text-center px-32 py-12 text-2xl bg-gray-100">Commencer
      </button>
    </div>
    <div class="justify-self-start mx-6">
      <button (click)="map()" class="rounded border-2 text-center px-32 py-12 text-2xl bg-gray-100">Accéder à la carte
      </button>
    </div>
  </div>
  <div class="self-end">
    <p class="text-center text-xl italic text-gray-800">En utilisant Psynder, vous prenez compte que ce service est avant tout un projet étudiant. Aucune information autre que celles demandées lors de la création de votre compte ne seront sauvegardées sur Psynder. Aucune information donnée ne sera partagée à un tier ou à un autre service.</p>
  </div>
</div>
