<div class="bg-base-500 flex w-screen h-screen overflow-hidden" style="overflow: hidden !important;">
  <div class="mt-8 pl-12">
    <img class="w-48 fixed" src="../../../../assets/png/banner_4600x1500_with_transparency.png" (click)="redirectToLandingPage()">
  </div>

  <div class="fixed right-0 right-12 top-10">
    <button
      class="mr-10 rounded-lg cursor-pointer font-medium text-base text-gray-800 hover:underline"
      (click)="redirectToDownloadPage()">
      Télécharger l'application
    </button>
    <button
      class="mr-10 rounded-lg cursor-pointer font-medium text-base text-gray-800 hover:underline"
      (click)="redirectToFAQPage()">
      Foire aux questions
    </button>
    <button
      class="mr-10 rounded-lg cursor-pointer font-medium text-base text-gray-800 hover:underline"
      (click)="redirectToFeedbackPage()">
      Faire un retour
    </button>
    <button
      class="mr-10 rounded-lg cursor-pointer font-medium text-base text-gray-800 hover:underline"
      (click)="redirectToLoginSignupPage()">
      Connexion / Inscription
    </button>
  </div>

  <div class="my-auto pt-16 px-32">
    <h3 class="px-64 mt-4 md:mt-12 text-base md:text-xl font-semibold text-black">
      Qui sommes nous ?
    </h3>
    <p class="px-64 text-gray-800">
      <br>Psynder est un projet étudiant ayant vu le jour en 2019 à Epitech Nantes. <br>
      Il est mené à bien par une équipe de 7 étudiants ayant tous eu des expériences psychologiques différentes.<br><br>
      Notre objectif est de faciliter la recherche de soins thérapeutiques  en réduisant au possible le temps de recherche et en simplifiant l’obtention d’un premier rendez-vous.<br><br>
      Nous mettons en place un service donnant un moyen aux personnes souffrantes de troubles dépressifs de trouver plus aisément un thérapeute répondant à leurs besoins.<br><br>
      Pour ces thérapeutes, notre service œuvre à leur donner un outil de rapprochement avec leurs clients, ainsi qu’une visibilité additionnelle, utile pour les nouveaux pratiquants.<br>
    </p>
    <img class="w-64 md:w-96 mt-12 mx-auto" src="../../../../assets/svg/reading-about.svg">
  </div>
</div>
