<div class="bg-base-500 flex w-screen h-screen overflow-hidden"
  style="overflow: hidden !important;"
>
  <div class="m-16 fixed">
    <img class="w-40 fixed" src="../../../../assets/png/banner_black.png">
  </div>
  <div class="flex flex-col my-auto mx-auto">
    <p class="mt-16 text-center text-3xl text-gray-800 font-medium">
      Nous sommes actuellement en 
        <span class="text-t-primary-500">maintenance</span>
    </p>
    <p class="mt-4 text-gray-500 text-center text-2xl">
      Merci de revenir plus tard
    </p>
    <img class="w-96 mt-16 mx-auto" src="../../../../assets/svg/coffee.svg">
  </div>
</div>