<div class="relative h-full">
  <button class="p-1 absolute -mt-10 -ml-3 left-0 top-0 rounded-full hover:bg-gray-200"
      (click)="navigateBackToLogin()"
  >
      <img class="w-7 h-7" src="../../../../assets/svg/arrow_back_24dp.svg">
  </button>

  <div>
    <h2 class="mt-6 text-xl font-semibold text-brink">
      Réinitialiser votre mot de passe
    </h2>
    <p class="mt-4 mb-6 text-sm text-gray-800">
      Veuillez indiquer votre adresse mail ci-dessous pour que nous puissions vous envoyer un email de réinitialisation.
    </p>
    <form [formGroup]="form" (ngSubmit)="sendPasswordResetEmail()" method="post" class="flex flex-col">
      <div>
        <label
          class="block font-body text-base font-semibold focus-within:text-alpha-base"
          for="email"
        >
          Adresse mail
          <input
            formControlName="email"
            class="font-body block w-full text-base text-gray-900 border rounded-md px-4 py-1 focus:border-alpha-base mt-1 focus:shadow-outline focus:outline-none focus:ring"
            [class.ring-blue-300]="!isTherapist()"
            [class.ring-indigo-300]="isTherapist()"
            id="email"
            type="email"
            placeholder="adresse mail"
            required
          />
        </label>
      </div>
      <div *ngIf="error.getValue()">
        <p class="mt-1 text-red-500 text-sm">
          {{ error.getValue() }}
        </p>
      </div>
      <button
        type="submit"
        [disabled]="form.invalid || emailSent"
        class="w-full text-white border bg-indigo-500 text-base text-center mx-auto mb-4 mt-6 py-3 font-medium rounded-md
          disabled:border-gray-200 disabled:bg-gray-200 disabled:text-gray-600 disabled:cursor-default disabled:border-0
          hover:bg-indigo-400
          transition duration-300 ease-in-out"
      >
        Recevoir l'email
      </button>
    </form>
    <div *ngIf="emailSent"
      class="text-green-600 text-sm"
    >
      Un email vous a été envoyé
    </div>
  </div>

</div>