<div class="fixed z-10 inset-0 overflow-y-auto">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity">
      <div class="absolute inset-0 bg-t-gray-500 opacity-75"></div>
    </div>

    <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;
    <div class="py-8 px-12 divide-y inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <h1 class="font-semibold text-2xl text-t-gray-800 mb-4">
        Ajouter un tag
      </h1>
      <div>
        <div class="mt-10 mb-14">
          <h2 class="font-semibold text-t-gray-700 mb-1">
            Nom
          </h2>
          <div class="rounded-md border border-t-gray-300 w-full mb-8">
            <input #name
              [formControl]="tagName"
              class="form-input mx-2 py-1 outline-none mt-1"
            >
          </div>
        </div>
        <div class="w-full flex flex-row ">
          <button class="mt-4 w-full py-3 bg-t-gray-200 text-t-gray-500 rounded-md text-white text-center font-medium hover:bg-t-gray-100 transition duration-300 ease-in-out"
            (click)="closeEvent.next(true)"
          >
            Annuler
          </button>
          <button class="mt-4 ml-2 w-full py-3 bg-t-primary-500 rounded-md text-white text-center font-medium hover:bg-t-primary-400 transition duration-200 ease-in-out"
            (click)="addTag()"
          >
            Valider
          </button>
        </div>
      </div>
    </div>
  </div>
</div>