html
    head
        style(type="text/css").
            body {
                background-color: #F7F5F2;
                padding-top: 5%;
                padding-bottom: 5%;
            }
            .content-width {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
                
            }  
            .title {
                color: #000000;
                font-weight: 600;
                font-size: 1.875rem;
                line-height: 2.25rem;
            }
            .p {
                padding-top: .5rem;
                font-size: 1.125rem;
                line-height: 1.75rem;
                color: black;
            }
            .post-scriptum {
                padding-top: .5rem;
                font-size: 1rem;
                line-height: 1rem;
                color: grey;
                padding-bottom: 1.5rem;
            }
            .btn {
                background-color: #2563EB;
                border-radius: .5rem;
                border-style: none;
                padding-top: 1rem;
                padding-bottom: 1rem;
                padding-left: auto;
                padding-right: auto;
                cursor: pointer !important;
                text-align: center;
            }
            .btn-link {
                width: 100%;
                text-decoration: none;
                margin-top: auto;
                margin-bottom: auto;
            }
            .btn-label {
                color: #F7F5F2;
                font-weight: 500;
                font-size: 1.25rem;
            }
    body
        center
            table(class="content-width")
                tr
                    td(class="title")
                        | Réinitialiser votre mot de passe
                tr
                    td(class="p")
                        | Vous avez récemment demandé à réinitialiser votre mot de passe sur psynder.fr.
                tr
                    td(class="p" style="padding-bottom: 1.25rem")
                        | Suivez le lien ci-dessous pour effectuer la réinitialisation (attention: le lien expirera automatiquement dans 10 minutes).
                        | Nous vous recommandons vivement d'utiliser un mot de passe unique, que vous n'utilisez pour aucun autre site web.
                tr
                    td(class="btn")
                        a(class="btn-link", href=redirectUrl, target="_blank", rel="noopener noreferrer")
                            span(class="btn-label")
                                | Réinitialiser votre mot de passe