p
    | Vous avez récemment demandé à réinitialiser votre mot de passe sur www.psynder.fr.
    | Suivez le lien ci-dessous pour effectuer la réinitialisation.

p
    | Nous vous recommandons vivement d'utiliser un mot de passe unique, que vous n'utilisez pour aucon autre site web.
    | Réinitialiser votre mot de passe