<div class="bg-no-repeat w-screen h-screen bg-base-500 overflow-hidden"
  style="overflow: hidden !important;"
>
  <div class="mt-8 pl-12">
    <img class="w-48 fixed" src="../../../../assets/png/banner_4600x1500_with_transparency.png" (click)="redirectToLandingPage()">
  </div>
  <div class="fixed right-0 right-12 top-10">
    <button
      class="mr-10 rounded-lg cursor-pointer font-medium text-base text-gray-800 hover:underline"
      [routerLink]="['/about']"
    >
      À propos
    </button>
    <button
      class="mr-10 rounded-lg cursor-pointer font-medium text-base text-gray-800 hover:underline"
      [routerLink]="['/download']"
    >
      Télécharger l'application
    </button>
    <button
      class="mr-10 rounded-lg cursor-pointer font-medium text-base text-gray-800 hover:underline"
      [routerLink]="['/feedback']"
    >
      Faire un retour
    </button>
    <button
      class="rounded-lg cursor-pointer font-medium text-base text-primary-500 hover:underline"
      (click)="switchAuthRoute('/auth/therapist/login')"
    >
      Espace thérapeute
    </button>
  </div>

  <img class="w-9/12 bottom-0 fixed" src="../../../../assets/svg/lovin_guy.svg">
  <div class="flex w-screen">
    <h1 class="font-cambria mt-40 mx-auto text-center text-5xl text-gray-800">
      Espace utilisateur
    </h1>
  </div>
  <div class="flex justify-center">
    <div class="flex mt-12 z-10">
      <input
        [checked]="currentRoute === '/auth/login' || currentRoute === '/auth/forgot-password'"
        (change)="switchAuthRoute($event)"
        class="sr-only"
        type="radio"
        value="/auth/login"
        name="auth-options"
        id="Login"
      />
      <label
        class="cursor-pointer c-custom-label rounded-full -m-1 px-10 py-5 font-display font-semibold text-2xl"
        [class.text-primary-500]="currentRoute === '/auth/login' || currentRoute === '/auth/forgot-password'"
        for="Login"
        >Connexion</label
      >

      <input
        [checked]="currentRoute === '/auth/sign-up'"
        (change)="switchAuthRoute($event)"
        class="sr-only"
        type="radio"
        value="/auth/sign-up"
        name="auth-options"
        id="Register"
      />
      <label
        class="cursor-pointer c-custom-label rounded-full -m-1 px-10 py-5 font-display font-semibold text-2xl ml-2"
        [class.text-primary-500]="currentRoute === '/auth/sign-up'"
        for="Register"
        >Inscription</label>
    </div>
  </div>

  <div class="relative flex justify-center relative z-10">
    <div
      class="rounded-lg px-12 py-9 bg-white shadow-xl w-full transition-max-width duration-300 ease-in-out"
      [ngClass]="{
        'max-w-3xl': currentRoute === '/auth/sign-up',
        'max-w-md': (currentRoute === '/auth/login' || currentRoute === '/auth/forgot-password')
      }"
    >
      <router-outlet></router-outlet>
    </div>
  </div>
</div>