<div class="mt-4 px-8 grid grid-rows-2 mx-80 pb-2 h-40">
  <div class="border-b-2 grid grid-cols-2 h-12">
    <p class="font-medium text-2xl text-space-cadet">
      Exercices
    </p>
    <div (click)="exerciceEditTriggered = true" class="justify-self-end">
      <button class="px-10 h-10 text-center border border-indigo-500 rounded-md text-lg font-semibold text-indigo-500 hover:bg-indigo-100 focus:outline-none">
        Éditer
      </button>
    </div>
  </div>
  <div class="overflow-y-scroll h-40">
    <p>
      {{text?.exerciseText}}
    </p>
  </div>
  <exercise-modal
  *ngIf="exerciceEditTriggered"
  [text]="text"
  (changesMadeEvent)="getExoInfo()"
  (modalClosedEvent)="exerciceEditTriggered = false"
  ></exercise-modal>
</div>
