<div class="flex flex-col px-10 pt-6 bg-white rounded-lg divide-y">
  <div class="flex flex-row pb-1">
    <div class="flex-grow">
      <p class="font-semibold text-xl text-gray-800">Spécialité(s)</p>
    </div>
    <button *ngIf="specialtiesEditTriggered == false; else specialtiesValidate"
            class="my-auto flex flex-row px-3 py-1 rounded-full focus:outline-none transition-colors duration-300 ease-in-out hover:bg-t-primary-100"
            (click)="specialtiesEditTriggered = true"
    >
      <svg class="h-4 w-4 my-auto text-t-primary-500" viewBox="0 0 20 20" fill="currentColor">
        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
      </svg>
      <span class="ml-3 text-base font-medium text-t-primary-500">
        Éditer
      </span>
    </button>
    <ng-template #specialtiesValidate>
      <button
        class="border bg-t-gray-200 rounded-md transition-colors duration-300 ease-in-out hover:bg-t-gray-100 px-4 py-1 my-auto mr-3 focus:outline-none"
        (click)="specialtiesEditTriggered = false"
      >
        <p class="font-medium text-base text-t-gray-500">
          Retour
        </p>
      </button>
      <button class="flex flex-row border bg-t-primary-500 rounded-md transition duration-300 ease-in-out hover:bg-t-primary-400 px-3 py-1 my-auto focus:outline-none"
        (click)="addSpecialtyModalShown = true"
      >
        <svg class="w-4 h-4 my-auto text-white" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
        </svg>
        <p class="font-medium ml-2 text-base text-white ">
          Ajouter
        </p>
      </button>
    </ng-template>
  </div>

  <div class="pt-2 pb-4" *ngIf="contentLoaded; else specialtiesPlaceholder">
    <div *ngIf="specialties === null || specialties.length === 0; else listSpecialtiesTemplate"
      class="py-4"
    >
      <p class="font-medium text-base text-center text-t-gray-800">
        Vous n'avez pas encore enregistré de spécialité(s)
      </p>
      <p class="font-light text-t-gray-500 text-center text-sm">
        Cliquez sur "Éditer" puis "Ajouter" pour en ajouter
      </p>
    </div>
    <ng-template #listSpecialtiesTemplate>
      <div class="flex flex-row flex-wrap -ml-2 w-full mt-2">
        <div *ngFor="let specialty of specialties"
          class="flex flex-row flex-grow-0 ml-2 mb-2 pl-2 py-1 border rounded-lg"
        >
          <p class="text-t-gray-700"
            [class.mr-2]="specialtiesEditTriggered === false"
          >
            {{ specialty.name }}
          </p>
          <button *ngIf="specialtiesEditTriggered"
            class="ml-2 mr-1 my-auto focus:outline-none"
            (click)="deleteSpecialty(specialty)"
          >
            <svg class="h-4 w-4 text-t-gray-300 transition-colors duration-300 ease-in-out hover:text-red-600" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    </ng-template>
  </div>

  <ng-template #specialtiesPlaceholder>
    <div class="flex flex-row gap-x-3">
      <div *ngFor="let i of [].constructor(5)"
        class="mt-4 mb-6 h-8 rounded-md animate-pulse flex-grow bg-t-base-600"
        >
      </div>
    </div>
  </ng-template>
</div>

<app-add-specialty-modal *ngIf="addSpecialtyModalShown"
  (newSpecialtyEvent)="specialtiesChanged.emit()"
  (closeEvent)="addSpecialtyModalShown = false">
</app-add-specialty-modal>